USE [master]
GO
/****** Object:  Database [RJD_new_new]    Script Date: 27.03.2023 22:27:19 ******/
CREATE DATABASE [RJD_new]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RJD_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RJD_new.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RJD_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RJD_new_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RJD_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RJD_new]
GO
/****** Object:  DatabaseRole [Кассир]    Script Date: 27.03.2023 22:27:19 ******/
CREATE ROLE [Кассир]
GO
/****** Object:  DatabaseRole [Заполнитель]    Script Date: 27.03.2023 22:27:19 ******/
CREATE ROLE [Заполнитель]
GO
/****** Object:  DatabaseRole [admin]    Script Date: 27.03.2023 22:27:19 ******/
CREATE ROLE [admin]
GO
/****** Object:  Table [dbo].[Cashier]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NULL,
	[Salary] [money] NOT NULL,
 CONSTRAINT [PK_Cashier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passanger]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passanger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NULL,
	[Birthday] [date] NOT NULL,
	[ID_typeDoc] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Passanger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Shedule] [int] NOT NULL,
	[NumberStation] [int] NOT NULL,
	[NameStation] [varchar](50) NOT NULL,
	[TimeArrival] [time](0) NOT NULL,
	[TimeParking] [time](0) NOT NULL,
	[Price] [money] NOT NULL,
	[h_from_station] [int] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_train] [int] NOT NULL,
	[ID_vag] [int] NOT NULL,
	[NumberSeats] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[firstStation] [varchar](50) NOT NULL,
	[lastStation] [varchar](50) NOT NULL,
	[Weekdays] [nvarchar](14) NOT NULL,
	[FullPrice] [money] NOT NULL,
	[NumberStation] [int] NOT NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tikket]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tikket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_train] [int] NOT NULL,
	[ID_vag] [int] NOT NULL,
	[ID_passanger] [int] NOT NULL,
	[ID_cashier] [int] NOT NULL,
	[firstStation] [varchar](50) NOT NULL,
	[lastStation] [varchar](50) NOT NULL,
	[price] [money] NOT NULL,
	[dateRegistration] [date] NOT NULL,
 CONSTRAINT [PK_Tikket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Shedule] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](4) NOT NULL,
	[NumberSV] [int] NULL,
	[NumberCoupe] [int] NULL,
	[NumberReserved] [int] NULL,
	[Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDoc]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TypeDoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeSeats]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeSeats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Seats] [int] NOT NULL,
 CONSTRAINT [PK_TypeSeats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeVag]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeVag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TypeVag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vag]    Script Date: 27.03.2023 22:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTypeVag] [int] NOT NULL,
	[IDTypeSeats] [int] NOT NULL,
 CONSTRAINT [PK_Vag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tikket] ADD  CONSTRAINT [DF_Tikket_dateRegistration]  DEFAULT (getdate()) FOR [dateRegistration]
GO
ALTER TABLE [dbo].[Passanger]  WITH CHECK ADD  CONSTRAINT [FK_Passanger_TypeDoc] FOREIGN KEY([ID_typeDoc])
REFERENCES [dbo].[TypeDoc] ([ID])
GO
ALTER TABLE [dbo].[Passanger] CHECK CONSTRAINT [FK_Passanger_TypeDoc]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Schedule] FOREIGN KEY([ID_Shedule])
REFERENCES [dbo].[Schedule] ([ID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Schedule]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Train] FOREIGN KEY([ID_train])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Train]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Vag] FOREIGN KEY([ID_vag])
REFERENCES [dbo].[Vag] ([ID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Vag]
GO
ALTER TABLE [dbo].[Tikket]  WITH CHECK ADD  CONSTRAINT [FK_Tikket_Cashier] FOREIGN KEY([ID_cashier])
REFERENCES [dbo].[Cashier] ([ID])
GO
ALTER TABLE [dbo].[Tikket] CHECK CONSTRAINT [FK_Tikket_Cashier]
GO
ALTER TABLE [dbo].[Tikket]  WITH CHECK ADD  CONSTRAINT [FK_Tikket_Passanger] FOREIGN KEY([ID_passanger])
REFERENCES [dbo].[Passanger] ([ID])
GO
ALTER TABLE [dbo].[Tikket] CHECK CONSTRAINT [FK_Tikket_Passanger]
GO
ALTER TABLE [dbo].[Tikket]  WITH CHECK ADD  CONSTRAINT [FK_Tikket_Train] FOREIGN KEY([ID_train])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Tikket] CHECK CONSTRAINT [FK_Tikket_Train]
GO
ALTER TABLE [dbo].[Tikket]  WITH CHECK ADD  CONSTRAINT [FK_Tikket_Vag] FOREIGN KEY([ID_vag])
REFERENCES [dbo].[Vag] ([ID])
GO
ALTER TABLE [dbo].[Tikket] CHECK CONSTRAINT [FK_Tikket_Vag]
GO
ALTER TABLE [dbo].[Train]  WITH CHECK ADD  CONSTRAINT [FK_Train_Schedule] FOREIGN KEY([ID_Shedule])
REFERENCES [dbo].[Schedule] ([ID])
GO
ALTER TABLE [dbo].[Train] CHECK CONSTRAINT [FK_Train_Schedule]
GO
ALTER TABLE [dbo].[Vag]  WITH CHECK ADD  CONSTRAINT [FK_Vag_TypeSeats] FOREIGN KEY([IDTypeSeats])
REFERENCES [dbo].[TypeSeats] ([ID])
GO
ALTER TABLE [dbo].[Vag] CHECK CONSTRAINT [FK_Vag_TypeSeats]
GO
ALTER TABLE [dbo].[Vag]  WITH CHECK ADD  CONSTRAINT [FK_Vag_TypeVag] FOREIGN KEY([IDTypeVag])
REFERENCES [dbo].[TypeVag] ([ID])
GO
ALTER TABLE [dbo].[Vag] CHECK CONSTRAINT [FK_Vag_TypeVag]
GO
USE [master]
GO
